// length
$hwIndexWidth: 100%;

// nature green theme
$nature-1: #ebebe9;
$nature-2: #e3e6da;
$nature-3: #c0ceb2;
$nature-4: #8aa989;
$nature-5: #49654c;
$nature-6: #253628;

$lightGreen: rgb(50, 200, 100);

// intellij theme
$black-1: rgb(43, 43, 43); // code background color
$black-2: rgb(49, 51, 53); // line number background color
$black-3: rgb(59, 61, 62); // folder selector
$black-4: rgb(60, 63, 65); // sidebar background color
$black-5: rgb(60, 63, 65); // folder border color
$black-6: rgb(81, 86, 88); // folder selector hover
$black-7: rgb(80, 90, 98); // header font color

$white-1: rgb(173, 173, 173); // sidebar font, arrow, folder
$white-2: rgb(216, 216, 216); // header background color

$green-1: rgb(94, 153, 82); // code comment color
