html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

._custom1 {
  font-size: 24px;
  color: darkgreen;
  font-weight: bold;
}

._custom2 {
  font-size: 30px;
  color: aquamarine;
  font-weight: bold;
}
