
* {
	font-family: sans-serif;
	transition: 0.1s;
}

button {
	outline: none;
	border: 0;
	border-width: 1;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 5px;
}

input[type=text] {
	outline: none;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding-left: 10px;
}
input[type=text]:focus {
	border: 1px solid rgb(0, 150, 300);
}

ul {
	padding-left: 0;

	li {
		list-style: none;
	}
}

div {
	// border-radius: 5px;
}
