@import "~style/hwConstant.scss";

/* * * * * * * * * * * * title * * * * * * * * * * * */
.hw-lg-title {
	font-size: 26px;
	color: $nature-5;
	margin-bottom: 20px;
}

/* * * * * * * * * * * * content * * * * * * * * * * * */
.hw-content {
	font-size: 18px;
}
